<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>kirr.co |{% block title %} Shorten that url {% endblock title %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">

    {% block styles %}
    <style>
    body {
      background-color: #226268;
    

    }
    .btn-link{
      color: #50dfec;
      text-shadow: none;
    }
    .btn-link:hover{
      color: #d7f112
    }
    </style>
    {% endblock styles %}

  </head>

      <body>
        <div class="site-wrapper">

     <div class="site-wrapper-inner">

       <div class="cover-container">


         <div class="inner cover">
           {% block content %}
           {% endblock content %}


         </div>

<!--  -->

       </div>

     </div>

   </div>


      </body>
</html>
